<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="github" value="https://nuget.pkg.github.com/GalaktikasoftOfficial/index.json" />
	</packageSources>
	<packageSourceCredentials>
        	<github>
            		<add key="Username" value="komeiko" />
            		<add key="ClearTextPassword" value="3811e0a3a94d77d718f1cb570deddf479642daed" />
        	</github>
    	</packageSourceCredentials>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<bindingRedirects>
		<add key="skip" value="True" />
	</bindingRedirects>
	<packageManagement>
		<add key="format" value="1" />
		<add key="disabled" value="False" />
	</packageManagement>
</configuration>
